# Ambientes Virtuais
.venv/
venv/
env/

# Arquivos compilados do Python
__pycache__/
*.pyc

# Pastas de Build e Releases do PyInstaller
build/
dist/
releases/
*.spec

# Banco de Dados local e arquivos de SO
*.db
*.sqlite3
.DS_Store
crash_log.txt

# .NET Build Output & IDE
[bB]in/
[oO]bj/
.vs/
*.user

